*{
    font-family : sans-serif;
    background-color : #FFFFF0; 
}

h2{
	color:green;
	text-align:center
}

#base{
	margin: 1% 2% 1% 95%;
}

a{
    text-decoration : none;
    color : #A300A3;
}

a:hover{
	color: green;
	font-weight: bold;
	text-decoration: none;   
}

#footer{
    color:red;
    text-align : center;
}

.button_small{
    display : inline-block;
    height : 50px;
    width : 200px ;
    background : #FF6666;
    border: 2px solid rgba(33, 68, 72, 0.59);
    text-align: center;
    font: 1em/40px "Helvetica Neue", Arial, Helvetica, Geneva; 
    color : #29330A; 
    text-decoration : none;
    border-radius: 25px;
    box-shadow: 1px 5px 0 #1b383b;
    margin:10px;
}

.button_large{
    display : block;
    height : 50px;
    width : 300px;
    background : #FF6666;
    border: 2px solid rgba(33, 68, 72, 0.59);
    text-align: center;
    font: 1em/25px "Helvetica Neue", Arial, Helvetica, Geneva; 
    text-decoration : none;
    color : #29330A; 
    border-radius: 25px;
    box-shadow: 1px 5px 0 #1b383b;
    margin:10px;
}

.button_submit{
    display : block;
    height : 30px;
    width : 120px;
    border : 3px solid rgba(33, 68, 72, 0.59);
    border-radius : 25%;
    background-color : #FF6666;
    text-align : center;
    color : #29330A; 
    margin : 2% 0 4% 10%;   
}

a.button_small:hover {
    background: #C2FFC2;
}   

a.button_large:hover{
    background: #C2FFC2;
}

.form label{
	display: inline-block;
	width: auto;
	font-size: 1em;	
	margin: 1% 2% 1% 1%;
}

.form input:not(.button_submit){
	float: right;
	margin: 1% 50% 1% 0%;
}

.help_text{
    color: grey;
    font-size: .8em;
	margin: 0% 0% 0% 2%;
}

.errorlist{
	display: inline;
	width: 10%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.errorlist li{
	display: inline;
	color: red;
	font-size: 0.8em;
}

.text_input{

    display:inline-block;
    height:25px;
    width:200px;
    box-shadow: 1px 2px grey;
    margin:10px 10px 10px 10px;   
    background-color:white;
    border:1px solid black;
    
}

.text_input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px 2px solid rgba(81, 203, 238, 1);
}

table, td {
   border: 1px solid black;
}

td{
    padding : 3px;
}

th{
    border: 2px solid black;
    background-color:#FFAD5C;
    margin-left : 20px;
    
}

.row2 td{
	background-color: #FFFF85;
}

.save{
	float: right;
	margin: 1% 2% 1% 2%;

}

.success{
    font : italic 15px georgia;
    color : green;
}

.fail{
    font : italic 15px georgia;
    color : red;
}




