h3{
    text-align: center;
    font : italic bold 1.8em georgia ;
    color: #005CE6;
}

p{
    font : bold italic 25px georgia;
    margin-left : 20px;
    color : #005CE6;
}

li{
    font : italic 19px georgia;
    margin : 3px 3px 3px 3px;
    color : #001F4C;
}

.button{
    display : block;
    height : 10%;
    width : 20%;
    margin : auto;
    padding : 5px 5px 5px 5px;
    border : 2px solid black;
    border-radius : 15px;
    text-align : center;   
    color : #006020; 
    background-color:#FF9966;
}

a.button{
    font : italic 19px georgia;
}

a.button:hover{
    font-size : 1.1em;
    background-color:#FF9999;
}
