<! DOCTYPE HTML>
<html>
	<head>
	
        {% load staticfiles %}
		<link href = {% static "base.css" %} type = "text/css" rel = "stylesheet" />
		<link rel="import" href = {% static 'bower_components/paper-elements/paper-elements.html' %} />
		<script src={% static "bower_components/webcomponentsjs/webcomponents.min.js" %} ></script>
		{% block style %}{% endblock %}
		
		<title>
			{% block title %}{% endblock %}
		</title>
		
	</head>
	
	<body>
		
		<a id="top"></a>
		<!-- <h2>MULYANKAN</h2> -->
		<h2><a href="/"><img src = {% static "logo.ico" %}></a></h2>
		<hr width="1310" size="2" noshade>
		{% block content %}
			
		{% endblock %}

		
		<div id = 'base'>
			<a href="#top"><paper-icon-button icon="arrow-drop-up"></paper-icon-button></a><br>
		    <a href = "/"><paper-icon-button icon="home"></paper-icon-button></a>
        </div>
		
		<div id = 'footer'>
		<hr width="1310" size="2" noshade>
		Thanks for visiting.
		<br><br>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Mulyankan</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/harshj" property="cc:attributionName" rel="cc:attributionURL">Harsh Jain</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/harshj/MULYANKAN" rel="dct:source">https://github.com/harshj/MULYANKAN</a>
	    </div>
	</body>
</html>
