<! DOCTYPE HTML>
<html>
	<head>
        {% load static from staticfiles %}
		<link href = {% static "/static/base.css" %} type = "text/css" rel = "stylesheet" />
		{% block style %}{% endblock %}
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		
		<h2>MULYANKAN</h2>
		<hr width="1310" size="2" noshade>
		{% block content %}
			
		{% endblock %}

		<br>
		
		<p class = 'base'>
		    <a href = "/" class = 'base'>Home</a>
        </p>
        
		<hr width="1310" size="2" noshade>
		
		<div id = 'footer'>
		Thanks for visiting.
		<br><br>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Mulyankan</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/harshj/MULYANKAN" property="cc:attributionName" rel="cc:attributionURL">Harsh Jain</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/harshj/MULYANKAN" rel="dct:source">https://github.com/harshj/MULYANKAN</a>
	    </div>
	</body>
</html>
